<header class="header">
  <a href="/" class="logo"><h1>my-helper</h1></a>
  <button mat-raised-button (click)="onEditPost()">Редактировать</button>
  <ul>
    <li><a target="_blank" href="https://github.com/pan9arus">
      <img src="../assets/img/github-7-32.png" alt="github">
    </a></li>
    <li><a target="_blank" href="#">
      <img src="../assets/img/linkedin-2-32.png" alt="linkedin">
    </a></li>
  </ul>
</header>

<main>
  <aside class="sidebar">
    <div class="sidebar-search">
      <input class="search" type="search" placeholder="Поиск..." [(ngModel)]="search">
    </div>
    <div class="sidebar-create">
      <button mat-raised-button (click)="addPost()">ДОБАВИТЬ НОВУЮ ЗАПИСЬ</button>
    </div>
    <ul class="sidebar-content">
      <li *ngFor="let p of posts | search: search"
          class="post"
          [ngClass]="{
        programming: p.type === 'programming',
        history: p.type === 'history',
        other: p.type === 'other'
        }"
          (click)="selectPost(p)"
      >
        <h3>{{p.title}}</h3>
        <p>{{p.text | limitWords: 10}}</p>
        <small>Создано: {{p.date | date:'dd/MM/yyyy в HH:mm'}}</small>
      </li>
    </ul>
  </aside>

  <section class="content" *ngIf="selPost && !editPost">
    <h2>{{selPost.title}}</h2>
    <p>{{selPost.text}}</p>
  </section>

  <section class="content" *ngIf="selPost && editPost">
    <input type="text" placeholder="Введите название..." [(ngModel)]="selPost.title" (change)="changePost()">
    <p>{{selPost.text}}</p>
  </section>

</main>
