<header class="header">
  <a href="/" class="logo"><h1>my-helper</h1></a>
  <button mat-raised-button (click)="toggleEditPost()">Редактировать</button>
  <ul>
    <li><a target="_blank" href="https://github.com/tyomaEnd">
      <img src="../assets/img/github-7-32.png" alt="github link">
    </a></li>
    <li><a target="_blank" href="#">
      <img src="../assets/img/linkedin-2-32.png" alt="linkedin link">
    </a></li>
  </ul>
</header>

<main>
  <aside class="sidebar">
    <div class="sidebar-search">
      <input class="search" type="search" placeholder="Поиск..." [(ngModel)]="search">
    </div>

    <div class="sidebar-create">
      <button mat-raised-button (click)="addPost()">ДОБАВИТЬ НОВУЮ ЗАПИСЬ</button>
    </div>

    <div class="sidebar-filter">
      <mat-checkbox (change)="filterType('programming')">Программирование</mat-checkbox>
      <mat-checkbox (change)="filterType('history')">История</mat-checkbox>
      <mat-checkbox (change)="filterType('other')">Другое</mat-checkbox>
    </div>

    <ul class="sidebar-content">
      <li *ngFor="let p of posts | search: search | filter: join(type)"
          [ngClass]="{
        programming: p.type === 'programming',
        history: p.type === 'history',
        other: p.type === 'other'
        }"
      >
        <div class="post" (click)="selectPost(p)">
          <h3>{{p.title}}</h3>
          <p>{{p.text | limitWords: 10}}</p>
          <small>Создано: {{p.date | date:'dd/MM/yyyy в HH:mm'}}</small>
        </div>
        <div class="img-delete" (click)="removePost(p.id)">
          <img src="../assets/img/clear.png" alt="delete post">
        </div>
      </li>
    </ul>
  </aside>

  <section class="content" *ngIf="!selPost && !editPost">
    <p class="txt">Добро пожаловать в приложение <b>My-helper</b>.
      <br>
      Это учебный проект написанный на фреймворке <span style="color: red; font-family: monospace">Angular</span>
      <br>
      Для начала работы выберите заметку или создайте новую.
      <br>
      <img src="../assets/img/cat.jpg" alt="cat">
    </p>
  </section>

  <section class="content" *ngIf="selPost && !editPost">
    <h2>{{selPost.title}}</h2>
    <p>{{selPost.text}}</p>
  </section>

  <section class="content" *ngIf="selPost && editPost">
    <input
      class="inp-title"
      type="text"
      placeholder="Введите название…"
      appAutofocus
      [(ngModel)]="selPost.title"
      (change)="changePost()"
    >
    <textarea
      class="inp-text"
      placeholder="Введите текст…"
      cdkTextareaAutosize
      [(ngModel)]="selPost.text"
      (change)="changePost()"
    ></textarea>
  </section>

</main>
