<button
  class="btn btn-primary btn-lg btn-block rounded-0"
  type="button"
  data-toggle="collapse"
  data-target="#collapseExample"
  aria-expanded="false"
  aria-controls="collapseExample"
>
  Создание новой заметки
</button>
<!-- Блок инпутов -->
<!--<div class="container mt-2">-->
<!--  <div class="collapse" id="collapseExample">-->

<!--    <form-->
<!--      class="shadow-sm border border-light rounded rounded-lg p-3 mt-3 mb-3"-->
<!--      [formGroup]="form"-->
<!--    >-->

<!--      <div class="form-group">-->
<!--        <label for="inputName">Название заметки</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="input-text"-->
<!--          id="inputName"-->
<!--          placeholder="Введите название заметки..."-->
<!--          formControlName="title"-->
<!--        >-->
<!--        <div-->
<!--          *ngIf="form.get('title').invalid && form.get('title').touched"-->
<!--          class="validation"-->
<!--        >-->
<!--          <small *ngIf="form.get('title').errors.required">-->
<!--            Поле "Название заметки" не может быть пустым.-->
<!--          </small>-->
<!--          <small *ngIf="form.get('title').errors.minlength">-->
<!--            Минимальное кол-во символов в названии {{form.get('title').errors.minlength.requiredLength}}.-->
<!--            У вас сейчас {{form.get('title').errors.minlength.actualLength}}.-->
<!--          </small>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="hrefOriginal">Ссылка на оригинал</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="input-text"-->
<!--          id="hrefOriginal"-->
<!--          placeholder="Введите ссылку на оригинал..."-->
<!--          formControlName="link"-->
<!--        >-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label>Контент заметки</label>-->
<!--        <quill-editor-->
<!--          [styles]="{minHeight: '150px'}"-->
<!--          placeholder="Введите текст заметки..."-->
<!--          formControlName="text"-->
<!--        ></quill-editor>-->
<!--      </div>-->

<!--      <button class="btn btn-primary" [disabled]="form.invalid" (click)="submit()">Опубликовать</button>-->
<!--    </form>-->
<!--  </div>-->
<!--  </div>-->
